@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "welcome";
    src: local("PixelifySans-VariableFont_wght"),
        url(./assets/fonts/PixelifySans-VariableFont_wght.ttf) format("truetype");
}

/* Estilos personalizados CSS */
@layer base {

    body {
        @apply bg-white dark:bg-gray-800 bg-opacity-25;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
    }

    @keyframes bounceIn {
        0% {
            opacity: 0;
            transform: translateY(-5px);
        }

        20% {
            opacity: 1;
            transform: translateY(5px);
        }

        30% {
            transform: translateY(0px);
        }

        80% {
            transform: translateY(0);
        }
    }
}